body{
    margin: o;
    padding: o;
    font-family: 'Esteban', serif;
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'STIX Two Text', serif;
}
.flexible{
    display: flex;
}
.margin-top{
    margin-top: 50px;
}
h1{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Frank Ruhl Libre', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'STIX Two Text', serif;
}
.orange-color{
    color: orange;
}
#intro{
    border-left:4px solid #ff6347;
    padding-left: 10px;  
}
.half-wildth{
    width: 40%;
    margin-left: 150px;

}
.half-wildth img{
    width: 70%;
}
.button{
    text-decoration: none;
    color: white;
    background: tomato;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10%/40%;
}
h2{
    font-size: 50px;
    text-align: center;
}
.section-two{
    margin-left: 130px;
}
.one-third-width{
    width:23%;
    margin: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 10%;
    
}
.one-third-width img{
    width: 30%;
}
#mission{
    background-color: rgb(219, 234, 240);
}
#vission{
    background-color: rgb(235, 210, 214);
}
#Goals{
    background-color: rgb(248, 232, 203);
}