body{
    margin: 0;
    padding: 0;
    font-family: 'Esteban', serif;
    font-family: 'Frank Ruhl Libre', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'STIX Two Text', serif;
}
.flexible{
    display: flex;
}
.margin-top{
    margin-top: 50px;
}
h1{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Frank Ruhl Libre', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'STIX Two Text', serif;
}
.orange-color{
    color: orange;
}
#intro{
    line-height: .7;
    border-left: 4px solid coral;
    padding-left: 10px;
}
.half-wildth{
    width: 40%;
    margin-left: 150px;

}
.half-wildth img{
    width: 70%;
}
.button{
    text-decoration: none;
    color: white;
    background: tomato;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}
h2{
    font-size: 50px;
    text-align: center;
}
.section-two{
    margin-left: 8%;
    margin-right: 8%;
    
}
.one-third-width{
    width:25.33%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10%;
    
}
.one-third-width img{
    width: 30%;
}
#mission{
    background-color: rgb(231, 240, 247);
}
#vission{
    background-color: rgb(247, 234, 236);
}
#Goals{
    background-color: rgb(247, 225, 184);
}

h3{
    font-size: 35px;
    line-height: 0.5;
}

.develop-part{
    margin-left: 80px;
    margin-right: 80px;
    
    
}
.middile-section-img{
    width: 40%;
    padding: 50px;

}
.middile-section-img img{
    width: 100%;
    
}
.middile-section-p{
    width:70%;
    padding: 50px;
    margin-top: 30px;
    
}
.last-sec-heading{
    text-align: center;
}
.last-section{
    margin-left: 140px;
    margin-right: 140px;
    
}
.last-section img{
    height: 200px;
    width: 350px;
    padding-left:5px;
    padding-right: 5px;
    border-radius: 5%;
}
.last-paragraph{
    padding-left: 10px;
}

.learn-more-button{
    text-decoration: none;
    color: white;
    background-color: gray;
    font-size: 12px;
    padding: 5px 10px;
}
footer{
    margin-top: 80px;
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    line-height:0;
}
h4{
    font-size: 20px;
}
footer p{
    font-size: 10px;
}
.tomato-color{
    color: tomato;

}
